<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="left-container">
            <h1>Register</h1>
            <div class="video-container">
                <video id="video" autoplay></video>
                <canvas id="canvas" style="display: none;"></canvas>
            </div>
            <div class="button-container buttons">
                <button id="clickButton">Click</button>
                <button id="backButton">Back</button>
            </div>
        </div>

        <div class="cropped-container" id="croppedContainer">
            <!-- Dynamically cropped images will be displayed here -->
        </div>
    </div>

    <script src="/static/js/register.js"></script>
</body>
</html>